

<%= image_tag @flavor.picture_url %>

<h1><%= @flavor.name %> </h1>
<h3><%= @flavor.base_flavor %></h3>
<p><%= @flavor.description %></h3>

<%= link_to "Delete Flavor", category_flavor_path(params[:category_id], params[:id]), method: 'delete' %>
<%= link_to "Flavors", category_path(params[:category_id]) %>